{% extends "base.html" %}

{% block content %}
   <div class="mt-5 pt-5">
	 <h1>Change password</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.old_password.label }}<br>
            {{ form.old_password(size=128) }}
        </p>
		<p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=128) }}
        </p>
		<p>
            {{ form.new_password_confirm.label }}<br>
            {{ form.new_password_confirm(size=128) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form><br>
    </div>
{% endblock %}
